<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Café Aqua</title>

  <link rel="preload" href="/static/main.css" as="style">

  <!-- Mobile settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta http-equiv="cleartype" content="on">
  <meta name="mobile-web-app-capable" content="no">

  <!-- Seo settings -->
  <meta name="title" content="Ist das Café Aqua gerade geöffnet?">
  <meta name="description"
        content="Haus 11, Raum 11.E.30 ✅ Du suchst frischen Kaffee, ein kühles Getränk oder willst einfach nur kickern? Den aktuellen Öffnungsstatus des Café Aqua an der FH Erfurt findest auch in der App.">

  <!-- Homescreen images -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
{{{body}}}
</body>
</html>