<header>
  <h1 class="status-label {{class}}">{{label}}</h1>
  <img class="logo" src="/static/img/logo-cafe-aqua-fh-erfurt.jpg" alt="Logo Café Aqua - FH Erfurt"
       title="Logo Café Aqua - FH Erfurt">
</header>
<aside>
  <blockquote>
    <p>
      Coffee should be black as hell, strong as death and sweet as love.</p>
    <footer>Türkisches Sprichwort (Kahve dediğin cehennem gibi kara, ölüm gibi sert ve aşk gibi tatlı olmalı.)</footer>
  </blockquote>
</aside>
<section class="more-info">
  <p>Mehr Informationen findest du auch auf unserer <a href="https://www.facebook.com/Cafe.Aqua">Facebook Fanpage</a>.</p>
</section>